$maintextcolour: mediumpurple;
$maintextfont: courier;
body{ 
    background-color: aliceblue;
}

h1 {
    color: darkblue;
    font-family: Jokerman;
    font-size: 250%;
}

h2 {
    color: $maintextcolour;
    font-family: $maintextfont;
    font-size: 200%;
}

p {
    color: $maintextcolour;
    font-family: $maintextfont;
    font-size: 150%;
}

ul {
    color: forestgreen;
    font-family: $maintextfont;
    font-size: 150%;
}

ol {
    color: forestgreen;
    font-family: $maintextfont;
    font-size: 150%;
}

a:link {
    font-family: $maintextfont;
    color: $maintextcolour;
    font-size: 150%;
}
