$maintextcolour: mediumpurple;
$maintextfont: courier;
$listcolour: forestgreen;
$backgroundcolour: aliceblue;

h2, p, a:link, button{
    color: $maintextcolour;
}

h2, p, ul, ol, a:link, button{
    font-family: $maintextfont;
}
body{ 
    background-color:$backgroundcolour;
}

h1 {
    color: darkblue;
    font-family: Jokerman;
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 150%;
}

ul {
    color: $listcolour;
    font-size: 150%;
}

ol {
    color: $listcolour;
    font-size: 150%;
}

a:link {
    font-size: 150%;
}

button {
    font-size: 150%;  
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: $backgroundcolour;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }